body{
  /* background-color: lightgreen; */
 /* background-image:url("paqkka1.svg");
  /* height: 150px; */
  background-image: linear-gradient(to right,rgb(198, 186, 186),rgb(132, 100, 236));

}
table, th, td {
    border: 2px solid rgb(98, 24, 135);
    padding: 10px;
  }
  b{
    font-size: 25px;
    color: rgb(0, 0, 5);
  }
  th{
    font-size: 20px;
    color: rgb(3, 1, 13)
  }
.input{
  /* width:10%; */
  /* height: 20px; */
  /* display: flex; */
  margin-top: 15px;
  margin-left: 20px;
  padding-top: 5px;
  padding-right: 50px;
  padding-left: 5px;
  background-color: lightcyan;
  color: rgb(37, 13, 92);
  
}

.radio1{
  margin-top: 10px;
  margin-left: 12px;
}
h1{

  color: rgb(2, 2, 14);
  font-size: 30px;
  
}
.checking{
  margin-left: 13px;
}

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(16, 12, 2);
  border: 2px solid rgb(16, 12, 4);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  margin-left: 30px;
  margin-top: 25px;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(138, 221, 244);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #1b0404;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  background-color: lightcyan;
  border: 2px solid rgb(42, 17, 82);
}

.button:active {
  scale: 1;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to right,rgb(198, 186, 186),rgb(132, 100, 236));
}
.magic{
  float: left;
  width: 750px;
  margin-left: 100px;
  margin-top: 75px;
  text-align: center;
  border: 5px solid black; 
  background-image: linear-gradient(to right,rgb(198, 186, 186),rgb(132, 100, 236));
   ;
}
.cookie{
  /* height: 500px;
  border: 5px solid red; */
  float: right;
  margin-top: 75px;
  border: 5px solid black;
  margin-left: 50px;
}
@media screen and (max-width: 666px) {
  body {
    background-color: rgb(37, 18, 75);
    background-image: none;
  }
  .magic{
    margin-left: 2%;
    margin-right: 0;
  }
  .cookie{
    margin-left: -100px;
  }
  
}

